Django==1.11.5
django-admin-view-permission==1.1
django-cors-headers==2.1.0
django-flat-responsive==2.0
djangorestframework==3.6.4
Jinja2==2.9.6
jinja2-django-tags==0.5
psycopg2==2.7.3.1
django-debug-toolbar
gunicorn
whitenoise
brotlipy
